#sam{
    margin: 10px;
  
    background-color: lightpink;
    background-image: url(../images/bg02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;

}

.nam{
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #ffcc99;

}

.sidebar{
    position: fixed;
    top: 50;
    left: 0;
    width: 220;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    

}
li{
    font-size: x-large;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: x-large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cafe{
    text-align: center;
    font-size: 50px;
    color: #ffcc99;
}

.food{
    font-size: 60px;
    color: #ffcc99;
    text-shadow: 5px 5px 10px;
}

.food-list{
    max-width: 900px;
    margin: auto;
}

.food-item{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(0,0,0,0.5);
}
.food-item h3{
  color: #ffcc99;
  margin-bottom: 10px;
  
}

.food-item img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 15px;
}

#time{
    color: #000000;
   font-size: large;
   box-shadow: 10px 10px 10px;
}

.info{
    text-align: center;
     max-width: 800px;
  margin: 80px auto;
  padding: 40px;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
  color: #ffcc99;

}
.opening-hours{
    text-align: center;
    font-size: xx-large;
    color: chocolate;
}
.opening-hours li {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 6px auto;
  padding: 8px 12px;
  background: rgba(0,0,0,0.4);
  border-radius: 6px;
  color: #ffcc99;
}

#form{
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    color: chocolate;
}

.form{
 font-size: larger;
 
 box-sizing: content-box;
}
.form label{
    text-align: left;
    font-weight: 500;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}

.form textarea {
  width: 40%;
  min-height: 150px; 
  resize: vertical;  
  font-size: 16px;
  padding: 12px;
   line-height: 1.5;
  border-radius: 12px;
}

label{
    color: #ffcc99;
    font-size: larger;
    font-weight: bold;
}

.form button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #cfa670;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: #ffcc99;
}