#sam{
    margin: 10px;
  
    background-color: lightpink;
    background-image: url(../images/bg02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;

}

.nam{
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    text-align: center;

}

.sidebar{
    position: fixed;
    top: 50;
    left: 0;
    width: 220;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    

}
li{
    font-size: x-large;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: x-large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cafe{
    text-align: center;
    font-size: 50px;
    

}

/* #manu{
    font-size: 40px;
    color: azure;
    text-decoration: none;
    background-color: aliceblue;
} */
